<p>Your profile information</p>

<ul>
  <li class='name'> Athlete Name: <%= @profile.first_name %> <%= @profile.last_name %></li>
  <li class='location'> Homebase: <%= @profile.city %>, <%= @profile.state %></li>
  <li class='profile_creation'> Account created: <%= @profile.created_at %></li>
  <li class='friend_count'> Number of friends: <%= @profile.friend_count %></li>
  <li class='follower_count'> Number of followers: <%= @profile.follower_count %></li>
</ul>

<h1>Your athlete stats</h1>
<section class='last_4_weeks'>
  <h2>Last 4 Week Stats</h2>
  <section class='cycling'>
    <ul>
      <li class='number_of_rides'></li>
      <li class='distance_ridden'></li>
      <li class='bike_moving_time'> </li>
      <li class='bike_elapsed_time'></li>
      <li class='bike_elevation_gain'></li>
    </ul>
  </section>

  <section class='running'>
    <ul>
      <li class='number_of_runs'></li>
      <li class='distance_ran'></li>
      <li class='run_moving_time'> </li>
      <li class='run_elapsed_time'></li>
      <li class='run_elevation_gain'></li>
    </ul>
  </section>

  <section class='swimming'>
    <ul>
      <li class='number_of_swims'></li>
      <li class='distance_swam'></li>
      <li class='swim_moving_time'> </li>
      <li class='swim_elapsed_time'></li>
    </ul>
  </section>
</section>

<section class='ytd'>
  <h2>Year-to-date Stats</h2>
  <section class='cycling'>
    <ul>
      <li class='number_of_rides'></li>
      <li class='distance_ridden'></li>
      <li class='bike_moving_time'> </li>
      <li class='bike_elapsed_time'></li>
      <li class='bike_elevation_gain'></li>
    </ul>
  </section>

  <section class='running'>
    <ul>
      <li class='number_of_runs'></li>
      <li class='distance_ran'></li>
      <li class='run_moving_time'> </li>
      <li class='run_elapsed_time'></li>
      <li class='run_elevation_gain'></li>
    </ul>
  </section>

  <section class='swimming'>
    <ul>
      <li class='number_of_swims'></li>
      <li class='distance_swam'></li>
      <li class='swim_moving_time'> </li>
      <li class='swim_elapsed_time'></li>
    </ul>
  </section>
</section>

<section class='all_time'>
  <h2>All Time Stats</h2>
  <section class='cycling'>
    <ul>
      <li class='biggest_ride_distance'></li>
      <li class='biggest_climb_elevation_gains'></li>
      <li class='number_of_rides'></li>
      <li class='distance_ridden'></li>
      <li class='bike_moving_time'> </li>
      <li class='bike_elapsed_time'></li>
      <li class='bike_elevation_gain'></li>
    </ul>
  </section>

  <section class='running'>
    <ul>
      <li class='number_of_runs'></li>
      <li class='distance_ran'></li>
      <li class='run_moving_time'> </li>
      <li class='run_elapsed_time'></li>
      <li class='run_elevation_gain'></li>
    </ul>
  </section>

  <section class='swimming'>
    <ul>
      <li class='number_of_swims'></li>
      <li class='distance_swam'></li>
      <li class='swim_moving_time'> </li>
      <li class='swim_elapsed_time'></li>
    </ul>
  </section>
</section>
